# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# PlatformIO
.pio/
.vscode/
.DS_Store
*.pyc
*.o
*.elf
*.bin
*.hex
*.map
*.lst
*.su
*.sbr
*.idb
*.pdb
*.ilk
*.lib
*.exp
*.bak
*.swp
*.swo
*.tmp
*.log
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.vcd
*.user
*.code-workspace
build/
firmware/